*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
width: 100%;
margin: auto;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between
}

.gap-26{
    gap: 26px;
}

.btn{
border: 0;
border-radius: 10px;
background-color: #F0F0F0;
color:  #524C6F;
padding: 12px 20px;
cursor: pointer;
}

.btn-up{
    background-color:#3AB67D;
    color:  #FFFFFF;
}

.pass-icon{
    position: absolute;
    right: 53%;
    top: 54%;
    cursor: pointer;
}










/* modal css */

.modal-sign-in {
    width: 760px;
    margin: auto;
    margin-top: 150px;
    height: 460px;
    border: 1px solid red;
    border-radius: 20px;
    display: none;
}


.modal-form{
    width: 380px;
    padding: 30px;
    padding-bottom: 47px;
}

.modal-form h2 {
font-size: 36px;
font-weight: 700;
line-height: 52px;
margin-bottom: 15px;
}

.modal-form p{
    font-family: Ubuntu;
font-size: 14px;
font-weight: 500;
line-height: 16px;
margin-bottom: 25px;
color: #AEB4DD;
}

.modal-form input{
    width: 100%;
    padding: 8px 13px;
    color: #AEB4DD;
border: 1px solid #AEB4DD;
border-radius: 6px;
margin-bottom: 18px;
outline: none;
}

.modal-form .forgot-text{
    text-align: right;
}
.modal-form button {
    width: 45%;
}
.gap-22{
    gap: 22px;
}

